.quicklinks {
    background-color: #F0F8FF;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    font-family: "Journal";
    font-size: 1.7rem;
}

.quicklinks a {
    text-decoration: none;    
}


.quicklink{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    /* width: 100%; */
}

.quicklink span {
    /* width: 80%; */
    margin-top: 3%;
    color: darkslategray;
    font-size: 0.9em;
}

.icon {
    width: 100px;
    border-radius: 50%;
    /* height: 100%; */
}

.recipes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 780px) {

    .quicklink span {
        font-size: 0.8em;
    }
    .icon {
        width: 80px;
    }
}


@media (max-width: 640px) {

    .quicklinks{
        display: flex;
        overflow: scroll;
        justify-content: flex-start;
    }

    .quicklink{
        display: flex;
        text-align: center;
    }
}