.quicklinks {
    background-color: #F0F8FF;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    /* height: 100%; */
}

.quicklinks a {
    text-decoration: none;    
}


.quicklink{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    /* width: 100%; */
}

.quicklink span {
    /* width: 80%; */
    margin-top: 2%;
    color: darkslategray;
}

.icon {
    width: 100px;
    border-radius: 50%;
    /* height: 100%; */
}