.navbar{
    background-color:#F0F8FF;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item{
    width: 160px;
    margin-left: 25px;
}

.icon-wrap{
    display: flex;
}

.icon{
    margin-top: 1%;
}

/* .nav-items{ 
    width: 60%;
    display: flex;
    justify-content: last baseline
  }  */